<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Gerador de Escalas</title>

</head>
<div class="screen-loading-container mostrar">
    <div class='loading-image-container'>
        <!-- <img src="../../assets/images/hydro_logo_vertical_negative.png" alt=""> -->
        <img src="../../assets/images/mining-negative.png" alt="">
    </div>
    <div class="loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="component-loading-container">
    <div class='loading-image-container'>
        <!-- <img src="../../assets/images/hydro_logo_vertical_blue.png"> -->
        <img src="../../assets/images/mining-black.png">
    </div>
    <div class=" loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<body>
    <main class="mainContainer">
        <section class="escalaContainer">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>
                            <div class="">
                                <label for="">Tag</label>
                            </div>
                        </th>
                        <th>
                            <div class="thContainer">
                                <label for="">Operador</label>
                            </div>
                        </th>

                        <th>
                            <div class="thContainer">
                                <label for="">local</label>
                            </div>
                        </th>
                        <th>
                            <div class="thContainer">
                                <label for="">Transporte</label>
                            </div>

                        </th>
                        <th>
                            <div class="thContainer">
                                <label for="">Atividade</label>
                            </div>

                        </th>
                    </tr>
                </thead>

                <tbody>

                </tbody>

            </table>
            <div class="creditosEOperadoresForaEscala">
                <div class="operadoresForaEscalaContainer">
                    <h5>Operadores Fora de Escala</h5>
                    <ul>
                    </ul>
                </div>
            </div>
        </section>
        <section class="personalizadoBtnContainer">
            <button class="personalizadoBtn" voltar>Voltar</button>
        </section>
    </main>

</body>
<script src="index.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</html>